@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:700italic,400,700);
@import url(http://fonts.googleapis.com/css?family=Raleway);
body {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  color: #2c3e50;
}

#masthead {
  background: url("../img/banner.png") no-repeat;
  background-size: cover;
}

.max-width {
  max-width: 960px;
}

#logo img {
  height: 90px;
  width: auto;
  padding: 10px;
}

.shade {
  display: inline-block;
  padding-bottom: 30px;
  width: 100%;
  height: auto;
  opacity: 0.3;
}

.navbar-main nav.affix {
  width: 100%;
  z-index: 2000;
  top: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}

.section-title {
  padding-top: 54px;
  margin-top: -54px;
}

.navbar-main nav {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
