@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:700italic,400,700);
body {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
  color: #2c3e50;
}

.max-width {
  max-width: 960px;
}

#logo img {
  height: 90px;
  width: auto;
  padding: 10px;
}

.shade {
  display: inline-block;
  padding-bottom: 30px;
  width: 100%;
  height: auto;
  opacity: 0.3;
}
