@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:700italic,400,700);
@import url(http://fonts.googleapis.com/css?family=Raleway);
@import 'compass'; 

$default-transition-duration: 0.5s;
$turq: #1abc9c;
$aliz: #e74c3c;
$blue: #2980b9;
$yell: #f39c12;

.rainbow{
  div{
    height:3px;
  }
  div:nth-child(4n+1){
    background:$turq
  }
  div:nth-child(4n+2){
    background:$aliz;
  }
  div:nth-child(4n+3){
    background:$blue;
  }
  div:nth-child(4n+4){
    background:$yell;
  }
}

.navbar-nav{
  li.active a{
    position:relative;
    &:after{
      content:"";
      display:block;
      position:absolute;
      height:3px;
      bottom:0;
      left:0;
      width:100%;
    }
  }
  li:nth-child(3n+1){
    a, a:focus {
      color:$turq;
    }
    &.active a:after{
      background:$turq;
    }
  }
  li:nth-child(3n+2){
    a, a:focus {
      color:$aliz;
    }
    &.active a:after{
      background:$aliz;
    }
  }
  li:nth-child(3n+3){
    a, a:focus {
      color:$yell;
    }
    &.active a:after{
      background:$yell;
    }
  }
}

body{
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  color:#2c3e50;
}

.masthead{
  background:url('../img/banner.png') no-repeat 50% 50%;
  background-size:cover;
  background-attachment:fixed;
}

.footer-logo{
  padding:30px 0;
  background:url('../img/banner-2.png') no-repeat 50% 50%;
  background-size:cover;
  background-attachment:fixed;
}

.panel{
  border-radius:0;
  &.panel-default{
    .bg1{
      background:url('../img/pattern/gplaypattern.png');
    }
    .bg2{
      background:url('../img/pattern/swirl_pattern.png');
    }
  }
}

.max-width{
  max-width: 960px;
}

#logo img{
  height:90px;
  width: auto;
  padding:10px;
}

.shade{
  display:inline-block;
  padding-bottom:30px;
  width:100%;
  height:auto;
  opacity:0.3;
}

.navbar-main nav.affix{
  width:100%;
  z-index:2000;
  top:0;
  @include opacity(1);
}

.section-title{
  padding-top:54px;
  margin-top:-54px;
}

.navbar-main nav{
  @include opacity(0);
  @include single-transition();
}

.image-link{
  position: relative;
  border: 5px solid #fff;
  @include box-shadow(0 5px 20px silver);
  background: #bad455;
  margin-bottom:20px;

  img{
    @include opacity(1);
    @include transition-property(opacity);
    @include transition-duration(.2s);
    @include transition-timing-function(ease-in);
  }

  a:after{
    content: "Check it Out";
    text-transform: uppercase;
    display: block;
    position: absolute;
    left: 50%;
    font-size: 23px;
    top: 50%;
    margin-left: -80px;
    margin-top: -10px;
    color: #fff;
    text-shadow: 0 3px 6px #000;
    @include opacity(0);
    @include transition-property(opacity);
    @include transition-duration(.2s);
    @include transition-timing-function(ease-in);
  }

  a:hover img{
    @include opacity(.2);
  }
  a:hover:after{
    @include opacity(1);
  }
}
