/* ----------------------------------------------------
   created with http://www.texturepacker.com 
   ----------------------------------------------------
   $TexturePacker:SmartUpdate:59af6edfe09b82ea349bdeb3aa803ec7$
   ----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.sprite {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(tech-logo.png);}

.logo-01 {width:121px; height:121px; background-position: -2px -2px}
.logo-02 {width:121px; height:121px; background-position: -125px -2px}
.logo-03 {width:121px; height:121px; background-position: -248px -2px}
.logo-04 {width:121px; height:121px; background-position: -371px -2px}
.logo-05 {width:115px; height:121px; background-position: -2px -125px}
.logo-06 {width:115px; height:121px; background-position: -119px -125px}
.logo-07 {width:115px; height:121px; background-position: -236px -125px}
.logo-08 {width:115px; height:121px; background-position: -353px -125px}
.logo-09 {width:140px; height:121px; background-position: -2px -248px}
.logo-10 {width:117px; height:121px; background-position: -144px -248px}
.logo-11 {width:117px; height:121px; background-position: -263px -248px}
.logo-12 {width:253px; height:121px; background-position: -2px -371px}
.logo-13 {width:147px; height:121px; background-position: -257px -371px}
.logo-14 {width:395px; height:121px; background-position: -2px -494px}
.logo-15 {width:423px; height:91px; background-position: -2px -617px}
